@use 'breakpoints';

$columnCount: 12;
$gutterWidth: 15px;

.grid {
	display: grid;
	position: relative;
	margin: 0 auto;
	width: 100%;
	grid-template-columns: repeat($columnCount, 1fr);
	column-gap: $gutterWidth;
	row-gap: $gutterWidth;

	@include breakpoints.min-width('sm') {
		width: 700px;
	}

	@include breakpoints.min-width('md') {
		width: 900px;
	}

	@include breakpoints.min-width('lg') {
		width: 1000px;
	}

	@include breakpoints.min-width('xl') {
		width: 1200px;
	}
}

@for $i from 1 through $columnCount {
	@each $breakpoint, $screenWidth in breakpoints.$breakpoints {
		.grid-item-#{$breakpoint}-#{$i} {
			grid-column-end: span $columnCount;
		}
	}

	.grid-item-#{$i} {
		grid-column-end: span $i;
	}
}

@each $breakpoint, $screenWidth in breakpoints.$breakpoints {
	@for $i from 1 through $columnCount {
		.grid-item-#{$breakpoint}-#{$i} {
			@include breakpoints.min-width(#{$breakpoint}) {
				grid-column-end: span $i;
			}
		}
	}
}
