@use 'breakpoints';

$columnCount: 12;
$gutterWidth: 15px;

.container {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 100%;

	@include breakpoints.min-width('sm') {
		width: 700px;
	}

	@include breakpoints.min-width('md') {
		width: 900px;
	}

	@include breakpoints.min-width('lg') {
		width: 1000px;
	}

	@include breakpoints.min-width('xl') {
		width: 1200px;
	}
}

.grid {
	display: grid;
	position: relative;
	margin: 0 auto;
	width: 100%;
	grid-template-columns: repeat($columnCount, 1fr);
	column-gap: $gutterWidth;
	row-gap: $gutterWidth;
}

@for $i from 1 through $columnCount {
	@each $breakpoint, $screenWidth in breakpoints.$breakpoints {
		.grid-item-#{$breakpoint}-#{$i} {
			grid-column-end: span $columnCount;
		}
	}

	.grid-item-#{$i} {
		grid-column-end: span $i;
	}
}

@each $breakpoint, $screenWidth in breakpoints.$breakpoints {
	@include breakpoints.min-width(#{$breakpoint}) {
		@for $i from 1 through $columnCount {
			.grid-item-#{$breakpoint}-#{$i} {
				grid-column-end: span $i;
			}
		}
	}
}

// Align classes
.grid-h-start {
	justify-items: start;
}

.grid-v-start {
	align-items: start;
}

.grid-h-center {
	justify-items: center;
}

.grid-v-center {
	align-items: center;
}

.grid-h-end {
	justify-items: end;
}

.grid-v-end {
	align-items: end;
}

@each $breakpoint, $screenWidth in breakpoints.$breakpoints {
	@include breakpoints.min-width(#{$breakpoint}) {
		.grid-h-#{$breakpoint}-start {
			justify-items: start;
		}

		.grid-v-#{$breakpoint}-start {
			align-items: start;
		}

		.grid-h-#{$breakpoint}-center {
			justify-items: center;
		}

		.grid-v-#{$breakpoint}-center {
			align-items: center;
		}

		.grid-h-#{$breakpoint}-end {
			justify-items: end;
		}

		.grid-v-#{$breakpoint}-end {
			align-items: end;
		}
	}
}
